{"preferedServers": [
    {"id": 1, "server_url":"192.168.0.129","server_port":":4001","server_identifier":"Dev-4e","requires_http":"true"},
    {"id": 2, "server_url":"http://10.0.0.67","server_port":":4001","server_identifier":"Dev-Shifat","requires_http":"true"},
    {"id": 3, "server_url":"192.168.0.202","server_port":":4001","server_identifier":"202-Local","requires_http":"true"},
    {"id": 4, "server_url":"192.168.0.129","server_port":":4001","server_identifier":"Shifat-Local","requires_http":"true"}
  ],
  "backupServers": [
    {"id": 1, "server_url":"http://10.0.0.67","server_port":":4001","server_identifier":"Dev-Shifat-bak","requires_http":"true"},
    {"id": 2, "server_url":"192.168.0.129","server_port":":4001","server_identifier":"Dev-4e-bak","requires_http":"true"},
    {"id": 3, "server_url":"4elements-media.dyndns.org","server_port":":40203","server_identifier":"203-Remote","requires_http":"true"},
    {"id": 4, "server_url":"4elements-media.dyndns.org","server_port":":40203","server_identifier":"203-Remote","requires_http":"true"}
  ]
}
